
  <h2 mat-dialog-title class="text-center fw-bold">Create New User</h2>

  <mat-dialog-content class="container" style="height: 500px !important;">
    <form [formGroup]="userForm">
      <input type="hidden" formControlName="_id">

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Full Name</label>
          <input matInput class="form-control" formControlName="fullName" placeholder="Enter full name" required>
          <div class="invalid-feedback" *ngIf="userForm.get('fullName')?.invalid">
            Full Name is required
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label">E-Mail</label>
          <input matInput type="email" class="form-control" formControlName="userName" placeholder="Enter email"
            required>
          <div class="invalid-feedback" *ngIf="userForm.get('userName')?.invalid">
            Valid email is required
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Select Role</label>
          <!-- <mat-select formControlName="role" class="form-control">
          <mat-option value="uiux">UI/UX Design</mat-option>
          <mat-option value="developer">Developer</mat-option>
          <mat-option value="manager">Manager</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select> -->
          <mat-select formControlName="role" class="form-control" id="roleId">
            <mat-option *ngFor="let role of roleList" [value]="role.roleId">{{role.role}}</mat-option>
          </mat-select>
          <div class="invalid-feedback" *ngIf="userForm.get('role')?.invalid">
            Role selection is required
          </div>
        </div>
      </div>
    </form>

    <div class="alert alert-light mt-3">
      <strong>Note:</strong> After updating, you will receive an User Name to update your password.
    </div>

    <mat-dialog-actions class="d-flex justify-content-end p-3">
      <button mat-button mat-dialog-close class="btn btn-outline-secondary me-2">Cancel</button>
      <button mat-button [disabled]="userForm.invalid" [mat-dialog-close]="userForm.value" class="btn btn-primary">Save
        Changes</button>
    </mat-dialog-actions>
  </mat-dialog-content>

