<body>
<!--     
     <div class="col-md-2 p-0 sidebar-menu" [class.active]="menuActive">
        <app-menu></app-menu>
    </div>

    <main class="col-md-10 ms-sm-auto px-md-4">
        <app-header (isShowMenu)="receiveMessage($event)"></app-header> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0 sidebar-menu" [class.active]="menuActive">
                <app-menu></app-menu>
            </div>

            <main class="col-md-10 ms-sm-auto px-md-4">
                <app-header (isShowMenu)="receiveMessage($event)"></app-header>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Welcome Back {{ loginUser }}</h2>
                    <small>You can now view overall report below</small>
                    <button class="btn btn-primary">Download Report</button>
                </div>

                <!-- Statistics Cards -->
                <div class="row row-cols-3 row-cols-md-3 gx-3 gy-3">
                    <div class="col">
                        <div class="card text-center shadow">
                            <div class="card-body">
                                <h2 class="text-white mb-4">2</h2>
                                <p class="display-10">Live Users</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center shadow">
                            <div class="card-body">
                                <h2 class="text-white mb-4">3677</h2>
                                <p class="display-10">Certified Students</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center shadow">
                            <div class="card-body">
                                <h2 class="text-white mb-4">898876</h2>
                                <p class="display-10">Total Students</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Registered Students -->
                <h4 class="mt-4">Registered Students</h4>
                <div class="row row-cols-3 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                                <div class="icon-circle">
                                    <img src="assets/dashboardScholarIcon.png" alt="Icon">
                                </div>
                                <div class="text-section">
                                    <p class="display-6 mb-0">899</p>
                                    <h6 class="text-muted mb-0">Premium</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                                <div class="icon-circle">
                                    <img src="assets/dashboardScholarIcon.png" alt="Icon">
                                </div>
                                <div class="text-section">
                                    <p class="display-6 mb-0">899</p>
                                    <h6 class="text-muted mb-0">Super</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                                <div class="icon-circle">
                                    <img src="assets/dashboardScholarIcon.png" alt="Icon">
                                </div>
                                <div class="text-section">
                                    <p class="display-6 mb-0">399</p>
                                    <h6 class="text-muted mb-0">Super Plus</h6>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row row-cols-3 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                            <div class="icon-circle">
                                <img src="assets/dashboardScholarIcon.png" alt="Icon">
                            </div>
                            <div class="text-section">
                                <p class="display-6 mb-0">345</p>
                                <h6 class="text-muted mb-0">Super One</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                            <div class="icon-circle">
                                <img src="assets/dashboardScholarIcon.png" alt="Icon">
                            </div>
                            <div class="text-section">
                                <p class="display-6 mb-0">100</p>
                                <h6 class="text-muted mb-0">Students</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                            <div class="icon-circle">
                                <img src="assets/dashboardScholarIcon.png" alt="Icon">
                            </div>
                            <div class="text-section">
                                <p class="display-6 mb-0">7</p>
                                <h6 class="text-muted mb-0">Registration</h6>
                            </div>
                        </div>
                    </div>
            </div>
                <!-- Registered Mentors -->
                <h4 class="mt-4">Registered Mentors</h4>
                <div class="row row-cols-3 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                            <div class="icon-circle">
                                <img src="assets/dashboardScholarIcon.png" alt="Icon">
                            </div>
                            <div class="text-section">
                                <p class="display-6 mb-0">0</p>
                                <h6 class="text-muted mb-0">Registered Mentors</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-withoutBgColor d-flex flex-row align-items-center shadow">
                            <div class="icon-circle">
                                <img src="assets/dashboardScholarIcon.png" alt="Icon">
                            </div>
                            <div class="text-section">
                                <p class="display-6 mb-0">7</p>
                                <h6 class="text-muted mb-0">Registered Mentors</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
