<body>
    <div class="container">
        <div class="image-container">
            <img src="assets/loginImg.jpg" alt="loginImg">
        </div>
        <div class="login-container">
            <h2>LOGIN</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-group">
                    <label>Enter Username</label>
                    <input type="text" id="name" name="username" required [(ngModel)]="username" #Username="ngModel">
                    <div *ngIf="Username.invalid && Username.touched">
                        <small>Please enter username</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" required [(ngModel)]="password" #Password="ngModel">
                    <div *ngIf="Password.invalid && Password.touched">
                        <small>Please enter password</small>
                    </div>
                </div>
                <div class="checkbox-label">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember Me</label>
                </div>
                <button type="submit" class="login-button">Login</button>
                <div class="links-section">
                    <br>

                    <a href="#" style="color: red;">Forgot Password?</a><br><br>
                    <span>Not yet registered?</span>&nbsp;
                    <a href="#" routerLink="/signup">Sign Up</a>
                    <br>
                </div>
            </form>
        </div>
    </div>
</body>